//- @prettier

extends layout.pug
include components/notification.pug
include components/list.pug

block content
	h2#subheader= `${locals.tech}\t|\t${locals.date}`
	#dash
		+notification('List does not include appointments.')#appts
		+notification(`Last updated ${locals.timestamp} ago.`)#timestamp
		if locals.cc
			- var ccQuantity = locals.cc.reduce((acc, val) => (acc += val.length), 0);
		if locals.arr
			- var prodQuantity = locals.arr.reduce((acc, val) => (acc += val.length), 0);
		if (locals.arr && locals.cc)
			- var bothLists = true;
			.tabs
				button.tabs__button.button--tab(data-view='cc', class=`${bothLists ? "button--tab--active" : null}`)= `cannot-completes (${ccQuantity})`
				button.tabs__button.button--tab(data-view='prod')= `production (${prodQuantity})`
		.tab-container.route-list
			if locals.cc
				+list(locals.cc, locals.funcs, "cc", bothLists)
			if locals.arr
				+list(locals.arr, locals.funcs, "prod", bothLists)

block scripts
	script(src='/js/script.js')
	script(src='/js/notification.js')
	script(src='/js/tabs.js')
